# Ejemplo corriendo Pandas del ejercicio 1 de las notas (NFL)

In [1]:
# Import the required libraries
import seaborn as sns
from matplotlib import cm
import numpy as np
import pandas as pd
import matplotlib.colors as colors
import matplotlib.pyplot as plt
%matplotlib inline

Carga de datos
Puedo usar el comando help(pd.read_csv) y me da la ayuda de ese comando.

In [2]:
# Load the dataset
data = pd.read_csv("../data/extracted/NFL/NFL.csv")
data.head()
list(data.columns)

['Age',
 'Birth Place',
 'Birthday',
 'College',
 'Current Status',
 'Current Team',
 'Experience',
 'Height (inches)',
 'High School',
 'High School Location',
 'Name',
 'Number',
 'Player Id',
 'Position',
 'Weight (lbs)',
 'Years Played']

In [8]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object, or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts either
        ``pathlib.Path`` or ``py._path.local.LocalPath``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If file contains no header row, then you
        should explicitly pass ``header=None``. Duplicates in this list will cause
        a ``UserWarning`` to be issued.
    index_col : int, sequence or bool, optional
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider ``index_col=False`` to force pandas to
        not use the first column as the index (row names).
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
        'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.

        .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    tupleize_cols : bool, default False
        Leave a list of tuples on columns as is (default is to convert to
        a MultiIndex on the columns).

        .. deprecated:: 0.21.0
           This argument will be removed and will always convert to MultiIndex

    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.

        .. versionadded:: 0.18.1 support for the Python parser.

    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

Filtrado de algunos datos y selección de datos

Los datos los guarda como dataFrame que es como "tabla" y se van accediendo como listas pero es mucho más poderoso pues está sobre cargado el operador de listas.

Aqui se ve como regresa un vector con las evaluaciones de la operación > sobre los datos diciendo cuáles son mayores de 30

In [18]:
# Filtering and Selecting
ageFilterValue = 30
ageFilter = data["Age"] > ageFilterValue
ageFilter

0        False
1        False
2         True
3        False
4        False
5        False
6        False
7        False
8        False
9         True
10       False
11        True
12        True
13       False
14        True
15        True
16        True
17       False
18        True
19        True
20       False
21       False
22        True
23        True
24        True
25       False
26       False
27        True
28       False
29        True
         ...
17142     True
17143     True
17144     True
17145     True
17146    False
17147     True
17148    False
17149    False
17150     True
17151    False
17152     True
17153    False
17154     True
17155    False
17156    False
17157    False
17158    False
17159     True
17160    False
17161    False
17162     True
17163    False
17164     True
17165    False
17166     True
17167     True
17168     True
17169     True
17170    False
17171     True
Name: Age, Length: 17172, dtype: bool

En este que sigue selecciona con el filtro ageFilter, los valores de data que tuvieron True para poder tener los registros que cumplen

In [21]:
aboveAge = data[ageFilter]
aboveAge

,Age,Birth Place,Birthday,College,Current Status,Current Team,Experience,Height (inches),High School,High School Location,Name,Number,Player Id,Position,Weight (lbs),Years Played
2,56.0,"Temple , TX",9/11/1960,Louisiana Tech,Retired,NaN,1 Season,74.0,NaN,NaN,"Fowler, Bobby",NaN,bobbyfowler/2514295,NaN,230.0,1985 - 1985
9,98.0,"Alverton , PA",2/23/1919,Duquesne,Retired,NaN,1 Season,70.0,NaN,NaN,"Gonda, George",NaN,georgegonda/2515030,NaN,175.0,1942 - 1942
11,56.0,"Alton , IL",2/10/1961,Southern University,Retired,NaN,1 Season,69.0,NaN,NaN,"Raglin, Floyd",NaN,floydraglin/2523695,NaN,180.0,1987 - 1987
12,33.0,NaN,12/4/1983,Boise State,Retired,NaN,1 Season,74.0,NaN,NaN,"Zabransky, Jared",NaN,jaredzabransky/2495791,NaN,219.0,2007 - 2007
14,73.0,"St. Louis , MO",12/8/1943,Missouri,Retired,NaN,8 Seasons,73.0,NaN,NaN,"Otto, Gus",NaN,gusotto/2522592,NaN,220.0,1965 - 1972
15,74.0,"Barberton , OH",9/1/1942,Florida A&M,Retired,NaN,3 Seasons,73.0,NaN,NaN,"Thomas, Gene",NaN,genethomas/2527241,NaN,210.0,1966 - 1968
16,66.0,"Indianola , IA",12/1/1950,Arizona,Retired,NaN,2 Seasons,74.0,NaN,NaN,"Demory, Bill",NaN,billdemory/2512778,NaN,195.0,1973 - 1974
18,53.0,"New Orleans , LA",6/14/1963,Louisiana-Lafayette,Retired,NaN,9 Seasons,68.0,NaN,NaN,"Verdin, Clarence",NaN,clarenceverdin/2503464,NaN,160.0,1986 - 1994
19,50.0,"Scranton , PA",1/15/1967,Syracuse,Retired,NaN,1 Season,74.0,NaN,NaN,"DeRiggi, Fred",NaN,fredderiggi/2512828,NaN,268.0,1990 - 1990
22,55.0,"Fort Ord , CA",1/7/1962,California,Retired,NaN,9 Seasons,75.0,NaN,NaN,"Rivera, Ron",NaN,ronrivera/2502679,NaN,235.0,1984 - 1992
23,39.0,"Waxahachie , TX",6/29/1977,Texas Tech,Retired,NaN,10 Seasons,75.0,NaN,NaN,"Reagor, Montae",NaN,montaereagor/2502600,NaN,285.0,1999 - 2008
24,57.0,"Ann Arbor , MI",5/16/1960,Missouri,Retired,NaN,1 Season,74.0,NaN,NaN,"Sealby, Randy",NaN,randysealby/2525255,NaN,230.0,1987 - 1987
27,38.0,"San Luis Obispo Co. , CA",9/6/1978,Arizona,Retired,NaN,7 Seasons,76.0,NaN,NaN,"Tafoya, Joe",NaN,joetafoya/2504656,NaN,258.0,2001 - 2008
29,34.0,NaN,3/3/1983,Georgia Tech,Retired,NaN,1 Season,78.0,NaN,NaN,"Wallace, Kyle",NaN,kylewallace/2506142,NaN,295.0,2005 - 2005
30,62.0,"Miami , FL",9/14/1954,Florida,Retired,NaN,2 Seasons,77.0,NaN,NaN,"Darby, Al",NaN,aldarby/2512457,NaN,221.0,1976 - 1978
32,74.0,"Brooklyn , NY",3/3/1943,Hofstra,Retired,NaN,1 Season,74.0,NaN,NaN,"D'Amato, Mike",NaN,miked'amato/2512416,NaN,205.0,1968 - 1968
33,60.0,"Baytown , TX",7/7/1956,Arkansas,Retired,NaN,2 Seasons,70.0,NaN,NaN,"Sampson, Howard",NaN,howardsampson/2524829,NaN,185.0,1978 - 1979
34,78.0,"Laurel , MS",1/21/1939,U. of Pacific,Retired,NaN,1 Season,75.0,NaN,NaN,"Bass, Norm",NaN,normbass/2509130,NaN,210.0,1964 - 1964
36,63.0,"Greenfield , IA",10/7/1953,Colorado State,Retired,NaN,4 Seasons,76.0,NaN,NaN,"Larson, Bill",NaN,billlarson/2519112,NaN,225.0,1975 - 1980
38,43.0,"Jacksonville , FL",4/12/1974,Florida,Retired,NaN,6 Seasons,70.0,NaN,NaN,"Weary, Fred",NaN,fredweary/2503572,NaN,181.0,1998 - 2003
44,41.0,"Hamden , CT",10/13/1975,Buffalo,Retired,NaN,8 Seasons,77.0,NaN,NaN,"Ellis, Ed",NaN,edellis/2500536,NaN,325.0,1997 - 2004
46,39.0,"Fort Wayne , IN",5/17/1978,Iowa,Retired,NaN,11 Seasons,74.0,NaN,NaN,"Baker, Jason",NaN,jasonbaker/2504395,NaN,205.0,2001 - 2011
47,33.0,"Bradenton , FL",6/9/1983,Nebraska,Retired,NaN,7 Seasons,71.0,NaN,NaN,"Washington, Fabian",NaN,fabianwashington/2506362,NaN,175.0,2005 - 2011
48,69.0,"Canton , GA",7/31/1947,Mississippi State,Retired,NaN,1 Season,70.0,NaN,NaN,"Pharr, Tommy",NaN,tommypharr/2523147,NaN,187.0,1970 - 1970
49,43.0,"El Dorado , AR",12/27/1973,Arkansas,Retired,NaN,1 Season,76.0,NaN,NaN,"Alderson, Winston",NaN,winstonalderson/2499376,NaN,344.0,1997 - 1997
50,59.0,"Jamestown , OH",6/14/1957,Colorado State,Retired,NaN,2 Seasons,69.0,NaN,NaN,"Bell, Mark",NaN,markbell/2509361,NaN,175.0,1980 - 1981
55,81.0,"Los Angeles , CA",1/23/1936,Compton CC CA,Retired,NaN,5 Seasons,74.0,NaN,NaN,"Lewis, Joe",NaN,joelewis/2519453,NaN,256.0,1958 - 1962
59,51.0,"Selma , AL",10/30/1965,Illinois,Retired,NaN,1 Season,70.0,NaN,NaN,"Harkey, Lance",NaN,lanceharkey/2515842,NaN,180.0,1987 - 1987
60,59.0,"Cincinnati , OH",5/30/1958,Notre Dame,Retired,NaN,1 Season,78.0,NaN,NaN,"Foley, Tim",NaN,timfoley/2514196,NaN,275.0,1981 - 1981
61,39.0,"Houston , TX",9/8/1977,Texas A&M,Retired,NaN,9 Seasons,69.0,NaN,NaN,"Webster, Jason",NaN,jasonwebster/2504264,NaN,187.0,2000 - 2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17106,37.0,"Rock Springs , WY",12/27/1979,Miami (Fla.),Retired,NaN,0 Season,71.0,NaN,NaN,"Capshaw, Freddie",NaN,freddiecapshaw/2505351,NaN,183.0,2006 - 2007
17108,63.0,"Baltimore , MD",1/1/1954,Michigan State,Retired,NaN,2 Seasons,76.0,NaN,NaN,"Schaum, Greg",NaN,gregschaum/2525015,NaN,246.0,1976 - 1978
17113,53.0,"Yankton , SD",2/24/1964,Nebraska,Retired,NaN,1 Season,77.0,NaN,NaN,"Welter, Tom",NaN,tomwelter/2528520,NaN,280.0,1987 - 1987
17118,42.0,"Miami , FL",11/27/1974,Georgia Tech,Retired,NaN,10 Seasons,71.0,NaN,NaN,"Ferguson, Nick",NaN,nickferguson/2500614,NaN,204.0,2000 - 2009
17122,62.0,"Berwyn , PA",9/17/1954,Boston College,Retired,NaN,1 Season,71.0,NaN,NaN,"Capriola, Glenn",NaN,glenncapriola/2511042,NaN,219.0,1977 - 1977
17123,37.0,"Atlanta , GA",9/21/1979,Auburn,Retired,NaN,8 Seasons,72.0,NaN,NaN,"Carter, Tim",NaN,timcarter/2505044,NaN,185.0,2002 - 2009
17128,45.0,"Orlando , FL",8/31/1971,Central Florida,Retired,NaN,6 Seasons,75.0,NaN,NaN,"Jefferson, Greg",NaN,gregjefferson/2501370,NaN,280.0,1995 - 2000
17129,35.0,NaN,5/4/1982,North Carolina State,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Reid, Lamont",NaN,lamontreid/2506249,NaN,195.0,2005 - 2008
17130,34.0,NaN,10/23/1982,Louisville,Retired,NaN,0 Season,76.0,NaN,NaN,"Anderson, Zach",NaN,zachanderson/2508541,NaN,270.0,2007 - 2007
17131,34.0,"Oakland , CA",10/16/1982,Oregon State,Retired,NaN,1 Season,75.0,NaN,NaN,"Anderson, Sir Henry",NaN,sirhenryanderson/2506641,NaN,314.0,2006 - 2006
17134,58.0,"Galveston , TX",8/31/1958,New Mexico,Retired,NaN,8 Seasons,75.0,NaN,NaN,"Arnold, Walt",NaN,waltarnold/2508666,NaN,228.0,1980 - 1987
17135,51.0,"Raleigh , NC",5/30/1966,North Carolina State,Retired,NaN,3 Seasons,71.0,NaN,NaN,"Peebles, Danny",NaN,dannypeebles/2502435,NaN,180.0,1989 - 1991
17138,37.0,"Harrisburg , PA",9/4/1979,Penn State,Retired,NaN,0 Season,75.0,NaN,NaN,"Lenda, Tyler",NaN,tylerlenda/2519342,NaN,293.0,2006 - 2006
17140,37.0,"Wilson , NC",1/18/1980,North Carolina,Active,Carolina Panthers,16th season,79.0,Southern Nash HS,"Bailey, NC","Peppers, Julius",NaN,juliuspeppers/2505010,DE,287.0,NaN
17142,70.0,"Dallas , TX",4/22/1947,North Texas,Retired,NaN,7 Seasons,74.0,NaN,NaN,"Ramsey, Steve",NaN,steveramsey/2523725,NaN,210.0,1970 - 1976
17143,48.0,"Philadelphia , PA",10/4/1968,Penn State,Retired,NaN,1 Season,79.0,NaN,NaN,"Flythe, Mark",NaN,markflythe/2500662,NaN,290.0,1993 - 1993
17144,54.0,"Pittsburgh , PA",6/14/1962,Penn State,Retired,NaN,12 Seasons,75.0,NaN,NaN,"Radecic, Scott",NaN,scottradecic/2502575,NaN,243.0,1984 - 1995
17145,31.0,"Los Angeles County , CA",12/3/1985,Montana State,Retired,NaN,0 Season,77.0,NaN,NaN,"Saucedo, Lou",NaN,lousaucedo/2507771,NaN,330.0,2009 - 2009
17147,74.0,"Evansville , IN",10/26/1942,Ivy Tech State-SW IN (J.C.),Retired,NaN,3 Seasons,77.0,NaN,NaN,"Amsler, Marty",NaN,martyamsler/2508444,NaN,255.0,1967 - 1970
17150,36.0,"Gulfport , MS",4/2/1981,Southern Mississippi,Retired,NaN,3 Seasons,74.0,NaN,NaN,"Davis, Rod",NaN,roddavis/2506015,NaN,239.0,2004 - 2006
17152,64.0,"Martinsville , VA",12/15/1952,Maryland East. Shore,Retired,NaN,15 Seasons,75.0,NaN,NaN,"Hairston, Carl",NaN,carlhairston/2515595,NaN,260.0,1976 - 1990
17154,70.0,"Lexington , KY",4/9/1947,Kentucky,Retired,NaN,4 Seasons,74.0,NaN,NaN,"Palmer, Dick",NaN,dickpalmer/2522688,NaN,232.0,1970 - 1974
17159,46.0,NaN,5/25/1971,Mississippi,Retired,NaN,1 Season,76.0,NaN,NaN,"Thomas, Marquise",NaN,marquisethomas/2503314,NaN,255.0,1993 - 1993
17162,33.0,NaN,8/25/1983,Indiana,Retired,NaN,0 Season,72.0,NaN,NaN,"Gilmore, Jahkeen",NaN,jahkeengilmore/2514905,NaN,211.0,2007 - 2007
17164,71.0,"Oakland , CA",7/10/1945,New Mexico State,Retired,NaN,2 Seasons,75.0,NaN,NaN,"Andrews, Al",NaN,alandrews/2508546,NaN,216.0,1970 - 1971
17166,80.0,"Rochester , MN",7/9/1936,Minnesota,Retired,NaN,8 Seasons,76.0,NaN,NaN,"Schmidt, Bob",NaN,bobschmidt/2525064,NaN,248.0,1959 - 1967
17167,73.0,"Detroit , MI",2/15/1944,Michigan State,Retired,NaN,1 Season,71.0,NaN,NaN,"Goovert, Ron",NaN,rongoovert/2515082,NaN,225.0,1967 - 1967
17168,32.0,"Worland , WY",8/19/1984,Weber State,Retired,NaN,1 Season,75.0,NaN,NaN,"Folsom, J.D.",NaN,j.d.folsom/238485,NaN,230.0,2009 - 2010
17169,43.0,"Washington , DC",5/4/1974,Akron,Retired,NaN,1 Season,72.0,NaN,NaN,"Reader, Jamie",NaN,jamiereader/2502599,NaN,238.0,2001 - 2001
17171,54.0,"Bryan , TX",10/21/1962,Baylor,Retired,NaN,1 Season,73.0,NaN,NaN,"Johnson, Byron",NaN,byronjohnson/2517578,NaN,220.0,1987 - 1987

In [22]:
len(aboveAge)

9280

unique() te permite saber cuáles son los valores que tiene esa columna del dataFrame

In [17]:
data["Current Status"].unique()

array(['Retired', 'Active', 'Unsigned free agent', 'Suspended',
       'Injured reserve', 'Physically unable to perform'], dtype=object)

Ahora vamos a obtener datos con más restricciones

In [16]:
activeFilter = data["Current Status"] == "Active"

aboveAndActive = data[ageFilter & activeFilter]
len(aboveAndActive)

183